div
  h1 {{ firstName }}, here is your result
  md-progress-spinner(md-mode='determinate', :md-value='result')
  |  {{ result }}%
  h3
    | You have answered right to {{ correctAnswers }} of {{ questions.length }} questions.
