.registration
  md-field(:class='messageClass')
    label First name
    md-input(v-model='firstName', required='', @keydown='hasMessages = false')
    span.md-error First name is required
  md-field
    label Last name
    md-input(v-model='lastName')
  md-datepicker(v-model='date')
    label Select your birth date
  md-button.md-primary.md-raised(@click='submit') Start